# Sensor Check Ignore List
# this configuration is case sensitive!!!
# list all the sensors that need to be ignored in the sensor check
Schlafzimmer_1
Schlafzimmer_2
Arbeitszimmer_A
Arbeitszimmer_B
Arbeitszimmer_C
Arbeitszimmer_D
Schlafzimmer_A
Schlafzimmer_B
Schlafzimmer_C
Schlafzimmer_D
Wohnzimmer_A
Wohnzimmer_B
Wohnzimmer_C
Wohnzimmer_D
Kueche_A
Kueche_B
Kueche_C
Kueche_D
Kueche_1
Kueche_2
Flur_A
Flur_B
Flur_C
Flur_D