.DS_Store
/Code/MAXDebug/MAXDebug/bin
Code/MAXDebug/MAXDebug/obj
/Code/xs1-data-logging/obj
/Code/xs1-data-logging/bin
/Code/DataObjectOnDisk/obj
/Code/DataObjectOnDisk/bin
/Code/sonesFastSerializer/obj
/Code/sonesFastSerializer/bin
/Code/TestResults
/Code/XS1_DataObject/obj
/Code/XS1_DataObject/bin
/Code/xs1-data-logging-tests/obj
/Code/xs1-data-logging-tests/bin
/Code/Local.testsettings
/Code/TraceAndTestImpact.testsettings
/Code/hacs.vsmdi
/Code/XS1_ConfigurationData/obj
/Code/XS1_ConfigurationData/bin
/Code/xs1-backup-tool/obj
/Code/xs1-backup-tool/bin
/Code/XS1Authentication/obj
/Code/XS1Authentication/bin
/Code/ConsoleOutputLogger/obj
/Code/ConsoleOutputLogger/bin
/Code/HTTP/obj
/Code/HTTP/bin
/Code/JavascriptTimestamps/obj
/Code/JavascriptTimestamps/bin
