.DS_Store
/hacs/bin/
/hacs/obj/
*.pidb
/old/Code/hacs-dbtool/bin
/old/Code/SMS77.NET/SMS77/bin
/old/Code/SMS77.NET/SendSMS/bin
/old/Code/MAXDebug/MAXDebug/bin
old/Code/MAXDebug/MAXDebug/obj
/old/Code/xs1-data-logging/obj
/old/Code/xs1-data-logging/bin
/old/Code/DataObjectOnDisk/obj
/old/Code/DataObjectOnDisk/bin
/old/Code/sonesFastSerializer/obj
/old/Code/sonesFastSerializer/bin
/old/Code/TestResults
/old/Code/XS1_DataObject/obj
/old/Code/XS1_DataObject/bin
/old/Code/xs1-data-logging-tests/obj
/old/Code/xs1-data-logging-tests/bin
/old/Code/Local.testsettings
/old/Code/TraceAndTestImpact.testsettings
/old/Code/hacs.vsmdi
/old/Code/XS1_ConfigurationData/obj
/old/Code/XS1_ConfigurationData/bin
/old/Code/xs1-backup-tool/obj
/old/Code/xs1-backup-tool/bin
/old/Code/XS1Authentication/obj
/old/Code/XS1Authentication/bin
/old/Code/ConsoleOutputLogger/obj
/old/Code/ConsoleOutputLogger/bin
/old/Code/HTTP/obj
/old/Code/HTTP/bin
/old/Code/JavascriptTimestamps/obj
/old/Code/JavascriptTimestamps/bin
/old/Code/ICMP/bin
/old/Code/xs1-data-logging/Newtonsoft.Json/bin
hacs/Libraries/miataru-client-csharp/obj
hacs/Libraries/miataru-client-csharp/bin

/tools/MQTT-Test/bin/Debug/M2Mqtt.Net.dll
/tools/MQTT-Test/bin/Debug/M2Mqtt.Net.pdb
/tools/MQTT-Test/bin/Debug/MQTT-Test.exe
/tools/MQTT-Test/bin/Debug/MQTT-Test.pdb
/tools/MQTT-Test/bin/Debug/MQTT-Test.vshost.exe
/tools/MQTT-Test/bin/Debug/MQTT-Test.vshost.exe.manifest
/tools/MAXDebug/Backup/MAXDebug.sln
/tools/MAXDebug/Backup/MAXDebug/AssemblyInfo.cs
/tools/MAXDebug/Backup/MAXDebug/ConsoleOutputLogger.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/BatteryStatus.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/DeviceDiffSet.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/DiffHouse.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/HeatingThermostatDiff.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/ShutterContactDiff.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Base64.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/MAXMessageTypes.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/MAX_Exception.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/C_Message.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/HeatingThermostat.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/HeatingThermostatPlus.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/IMAXDevice.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/PushButton.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/ShutterContact.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/ShutterContactModes.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/ThermostatModes.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/UnknownDevice.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/WallMountedThermostat.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/H_Message.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/IMAXMessage.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/L_Message.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/M_Message.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Metadata/DeviceTypes.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Metadata/House.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Metadata/Room.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/TokenizeMessage.cs
/tools/MAXDebug/Backup/MAXDebug/MAXDebug.csproj
/tools/MAXDebug/Backup/MAXDebug/MAXEncodeDecode.cs
/tools/MAXDebug/Backup/MAXDebug/MAXMonitoringThread.cs
/tools/MAXDebug/Backup/MAXDebug/Main.cs
/tools/MAXDebug/Backup/MAXDebug/Main_async.cs
/tools/MAXDebug/Backup/MAXDebug/Max_Threaded.cs
/tools/MAXDebug/Backup/MAXDebug/Notes/Notes.txt
/tools/MAXDebug/Backup/MAXDebug/Notes/output.html
/tools/MAXDebug/_UpgradeReport_Files/UpgradeReport.css
/tools/MAXDebug/_UpgradeReport_Files/UpgradeReport.xslt
/tools/MAXDebug/_UpgradeReport_Files/UpgradeReport_Minus.gif
/tools/MAXDebug/_UpgradeReport_Files/UpgradeReport_Plus.gif
/tools/MAXDebug/UpgradeLog.XML
/tools/MQTT-Test/m2mqtt-master/Tools/NuGet/NuGet.exe
/tools/MAXDebug/Backup/MAXDebug.sln
/tools/MAXDebug/Backup/MAXDebug/AssemblyInfo.cs
/tools/MAXDebug/Backup/MAXDebug/ConsoleOutputLogger.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/BatteryStatus.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/DeviceDiffSet.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/DiffHouse.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/HeatingThermostatDiff.cs
/tools/MAXDebug/Backup/MAXDebug/DiffSet/ShutterContactDiff.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Base64.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/MAXMessageTypes.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/MAX_Exception.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/C_Message.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/HeatingThermostat.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/HeatingThermostatPlus.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/IMAXDevice.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/PushButton.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/ShutterContact.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/ShutterContactModes.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/ThermostatModes.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/UnknownDevice.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Devices/WallMountedThermostat.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/H_Message.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/IMAXMessage.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/L_Message.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/M_Message.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Metadata/DeviceTypes.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Metadata/House.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/Messages/Metadata/Room.cs
/tools/MAXDebug/Backup/MAXDebug/ELVMAX_Data/TokenizeMessage.cs
/tools/MAXDebug/Backup/MAXDebug/MAXDebug.csproj
/tools/MAXDebug/Backup/MAXDebug/MAXEncodeDecode.cs
/tools/MAXDebug/Backup/MAXDebug/MAXMonitoringThread.cs
/tools/MAXDebug/Backup/MAXDebug/Main.cs
/tools/MAXDebug/Backup/MAXDebug/Main_async.cs
/tools/MAXDebug/Backup/MAXDebug/Max_Threaded.cs
/tools/MAXDebug/Backup/MAXDebug/Notes/Notes.txt
/tools/MAXDebug/Backup/MAXDebug/Notes/output.html
/tools/MAXDebug/UpgradeLog.XML
/tools/MAXDebug/_UpgradeReport_Files/UpgradeReport.css
/tools/MAXDebug/_UpgradeReport_Files/UpgradeReport.xslt
/tools/MAXDebug/_UpgradeReport_Files/UpgradeReport_Minus.gif
/tools/MAXDebug/_UpgradeReport_Files/UpgradeReport_Plus.gif