{
    "Alarms":
    [
        {
            "name": "WassersensorAlarm",
            "message": "Der Wassersensor Wilma_Wasser hat ausgelöst!",
            "smsrecipients": 
            [
                { 
                    "number": "xxxxxxxx" 
                }
            ],
            "xmpprecipients": 
            [
                { 
                    "xmpp": "zeug@jabber.org" 
                }
            ],            
            "activators":
            [
                {
                	"type":"waterdetector",
                	"device":"XS1",
                    "name":"Wilma_Wasser",
                    "value":"1.0",
                    "comparison":"=="
                }
            ],
            "sensorchecks": 
            [
	            {
                	"type":"temperature",
                	"device":"XS1",
                    "name":"Sensor",
                    "value":"1.0"
                }
            ],
            "actorchecks":
            [
                {
                    "name":"Actor",
                    "device":"XS1", 
                    "value":"100.0"
                }
            ]
        }
    ]
}