{
"GoogleLatitudeIDs":
[
{
"Name": "yxyxyxyxyx",
"MiataruDeviceID":"xxxxxxxxxxxxx",
"MiataruServerURL":"xxxxxxxxxx"
},
{
"Name": "yxyxyxyxyx",
"MiataruDeviceID":"xxxxxxxxxxxxx",
"MiataruServerURL":"xxxxxxxxxx"
}
],
"ProximityConfiguration":
[
{
"ProximityName": "Hausalarm",
"GoogleLatitudeIDs":
[
{
"Name": "xyxyxyxyxyxyx"
},
{
"Name": "xxxxxx"
}
],
"ProximityRange": "5km",
"ProximityCenter":
{
"Longitude": "10.807502",
"Latitude": "49.818925"
},
"InProximityOperations":
[
{
"ActorName": "Alarm",
"ActorOperation": "ON"
}
],
"OutProximityOperations":
[
{
"ActorName": "Alarm",
"ActorOperation": "OFF"
}
]
}
]
}
