{
  "mqtt_broker_host": "192.168.178.30",
  "mqtt_broker_port": 1883,
  "mqtt_qos_level": "",
  "mqtt_actor_mapping": [
    {
      "hacs": "Eingangslicht",
      "mqtt": "house/stappenbach/groundfloor/hall/switch"
    }
  ],
  "mqtt_sensor_mapping": [
    {
    "hacs": "Schuppen",
    "mqtt": "house/stappenbach/garden/outside/temperature"
    },
    {
    "hacs": "Schuppen_",
    "mqtt": "house/stappenbach/garden/outside/humidity"
    }
  ]
}