# Sensor to watch, Value to react on, Actor to switch, Action to send to Actor, hourfrom-hourto (0-24 for allday)
# this configuration is case sensitive!!!
Kueche_A 100 KuecheLicht ONOFF 0-24
Kueche_A 0 KuecheLicht OFF 0-24
Kueche_B 100 AirportKueche ON 0-24
Kueche_B 0 AirportKueche OFF 0-24
Kueche_D 100 KuecheLicht ON 0-24
Kueche_D 100 AirportKueche ON 0-24
Kueche_D 0 KuecheLicht OFF 0-24
Kueche_D 0 AirportKueche OFF 0-24
Wohnzimmer_A 100 Sofalampe ON 0-24
Wohnzimmer_A 0 Sofalampe OFF 0-24
Wohnzimmer_B 100 Fernsehlampe ONOFF 0-24
Wohnzimmer_B 0 Fernsehlampe OFF 0-24
Wohnzimmer_C 100 TVSchrank ON 0-24
Wohnzimmer_C 0 TVSchrank OFF 0-24
Wohnzimmer_D 100 Sofalampe ON 0-24
Wohnzimmer_D 100 Fernsehlampe ON 0-24
Wohnzimmer_D 100 TVSchrank ON 0-24
Wohnzimmer_D 0 Sofalampe OFF 0-24
Wohnzimmer_D 0 Fernsehlampe OFF 0-24
Wohnzimmer_D 0 TVSchrank OFF 0-24
