# Scripting Timer Configuration file
# this configuration is case sensitive!!!
# TimerName DateTime_Start(YearDoesn'tMatter) DateTime_End(YearDoesn'tMatter) Duration_Minutes_Start Duration_Minutes_End OperationMode SwitchName JitterYesNo MinimumOnTimeMinutes
# valid OperationModes: ONOFF
# JitterYesNo - if there should be a jitter added to the on off times to avoid colliding commandos
# MinimumOnTimeMinutes - the time that this switch needs to be powered on at minimum in minutes
Wilma_1 01.01.2012_09:00:00 27.01.2012_09:00:00 720 0 ONOFF WilmaLicht YES 30
Wilma_2 28.01.2012_09:00:00 25.02.2012_09:00:00 0 0 ONOFF WilmaLicht YES 30
Wilma_3 26.02.2012_09:00:00 25.03.2012_09:00:00 0 720 ONOFF WilmaLicht YES 30
Wilma_4 26.03.2011_09:00:00 31.12.2012_09:00:00 720 720 ONOFF WilmaLicht YES 30
Mozilla_1 01.01.2012_09:00:00 27.01.2012_09:00:00 720 0 ONOFF MozillaLicht YES 30
Mozilla_2 28.01.2012_09:00:00 25.02.2012_09:00:00 0 0 ONOFF MozillaLicht YES 30
Mozilla_3 26.02.2012_09:00:00 25.03.2012_09:00:00 0 720 ONOFF MozillaLicht YES 30
Mozilla_4 26.03.2011_09:00:00 31.12.2012_09:00:00 720 720 ONOFF MozillaLicht YES 30
