{
    "Alarms":
    [
        {
            "name": "WassersensorAlarm",
            "message": "Der Wassersensor Wilma_Wasser hat ausgelöst!",
            "smsrecipients": 
            [
                { 
                    "number": "xxxxxxxx" 
                }
            ],
            "activators":
            [
                {
                	"type":"temperature",
                    "name":"Sensor1",
                    "value":"1.0"
                },
                {
                	"type":"temperature",
                    "name":"Sensor2",
                    "value":"0.0"
                }

            ],
            "sensorchecks": 
            [
                {
                	"type":"temperature",
                    "name":"Sensor",
                    "value":"1.0"
                }
            ],
            "actorchecks":
            [
                {
                    "name":"Actor",
                    "value":"100.0"
                }
            ]
        }
    ]
}