<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="xs1_data_logging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="scriptingactorsettings" type="xs1_data_logging.ScriptingConfigurationSection, xs1-data-logging" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <xs1_data_logging.Properties.Settings>
            <setting name="XS1" serializeAs="String">
                <value>hacs.fritz.box</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="HTTPPort" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="HTTPIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="HTTPDocumentRoot" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="ConfigurationCacheMinutes" serializeAs="String">
                <value>60</value>
            </setting>
        </xs1_data_logging.Properties.Settings>
        <scriptingactorsettings>
	    	<scriptingactors>
	    		<add name="Kueche_A" watchsensorname="Kueche_A" watchsensorvalue="100.0" actorname="KuecheLicht" actoraction="ON" />
	    		<add name="Kueche_A" watchsensorname="Kueche_A" watchsensorvalue="0.0" actorname="KuecheLicht" actoraction="OFF" />
	    	</scriptingactors>
    	</scriptingactorsettings>
 
    </userSettings>
</configuration>
