<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="xs1_data_logging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="scriptingactorsettings" type="xs1_data_logging.ScriptingConfigurationSection, xs1-data-logging" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <xs1_data_logging.Properties.Settings>
            <setting name="XS1" serializeAs="String">
                <value>192.168.178.36</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="HTTPPort" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="HTTPIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="HTTPDocumentRoot" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="ConfigurationCacheMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ScriptingActorConfigurationFilename" serializeAs="String">
                <value>ScriptingActorConfiguration.config</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="PowerSensorConfigurationFilename" serializeAs="String">
                <value>PowerSensorConfiguration.config</value>
            </setting>
            <setting name="ScriptingTimerConfigurationFilename" serializeAs="String">
                <value>ScriptingTimerConfiguration.config</value>
            </setting>
            <setting name="DefaultSensorOutputPeriod" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SwitchAgainCheckpointMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SwitchAgainTimeWindowMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AutomatedSensorCheck_ResponseTimeWindow" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SensorCheckIgnoreFile" serializeAs="String">
                <value>SensorCheckIgnoreList.config</value>
            </setting>
            <setting name="LogfileDirectory" serializeAs="String">
                <value>log</value>
            </setting>
            <setting name="DataObjectCacheSize" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="HTTPProxyConfigurationFilename" serializeAs="String">
                <value>HTTPProxy.config</value>
            </setting>
            <setting name="ELVMAXEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ELVMAXIP" serializeAs="String">
                <value>192.168.178.82</value>
            </setting>
            <setting name="ELVMAXPort" serializeAs="String">
                <value>62910</value>
            </setting>
            <setting name="ELVMAXUpdateIntervalMsec" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ELVMAXReconnectTimeMsec" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="SensorCheckIntervalSec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ELVMAXSensorReStoringSec" serializeAs="String">
                <value>360</value>
            </setting>
        </xs1_data_logging.Properties.Settings> 
    </userSettings>
</configuration>
