# Sensor to watch, Value to react on, Actor to switch, Action to send to Actor
# this configuration is case sensitive!!!
Kueche_A 100 KuecheLicht ON
Kueche_A 0 KuecheLicht OFF
Kueche_B 100 AirportKueche ON
Kueche_B 0 AirportKueche OFF
Kueche_D 100 KuecheLicht ON
Kueche_D 100 AirportKueche ON
Kueche_D 0 KuecheLicht OFF
Kueche_D 0 AirportKueche OFF
Wohnzimmer_A 100 Sofalampe ON
Wohnzimmer_A 0 Sofalampe OFF
Wohnzimmer_B 100 Fernsehlampe ON
Wohnzimmer_B 0 Fernsehlampe OFF
Wohnzimmer_C 100 TVSchrank ON
Wohnzimmer_C 0 TVSchrank OFF
Wohnzimmer_D 100 Sofalampe ON
Wohnzimmer_D 100 Fernsehlampe ON
Wohnzimmer_D 100 TVSchrank ON
Wohnzimmer_D 0 Sofalampe OFF
Wohnzimmer_D 0 Fernsehlampe OFF
Wohnzimmer_D 0 TVSchrank OFF
